/* body {
    height: 100vh;
    color: white;
    background: url(../images/background_w_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
} */
body {

  height: 100vh;
  background: url(../images/background_w_banner.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
}
h5{
  color: black;
}
h3{
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.699);;
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#contact_table{

    border-style: solid;
    /* border-color: white; */
    border-radius: 5px;
    padding: 5px;
    height: 100%;

}

.logout{
    padding:5px 15px; 
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    position: fixed;
    top: 2%;
    right: 2%
  }

/* .pre-scrollable{
  max-height: 500px;
} */
.scroll-box {
  /* background: linear-gradient(90deg, #000, #fff, #000); */

  border: 2px solid rgba(0, 0, 0, 0.1);
  max-height: 450px; /* maximum height of the box, feel free to change this! */
  padding: 15px;
  overflow-y: scroll;
}

  

